<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tenant/Contract.css') }}">
</head>

<body>
    <div class="container">
        {% include 'tenant/tenant_sidebar.html' %}
        <div class="header">
            <h3>CONTRACT</h3>
            <div class="notifprofile">
                <button class="notif-btn">
                    <img src="{{ url_for('static', filename='icon/tenant/notif.png') }}" alt="Notif">
                </button>
                <img src="" alt="profile">
            </div>



        </div>

        <div class="main">



        </div>



    </div>

</body>

</html>