<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tenant/Payment.css') }}">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="logotitle">
                <img src="" alt="LOGO">
                <h1>PHOME</h1>
            </div>
            <div class="linkholderbody">

                <div class="linkholder">
                    <img src="{{ url_for('static', filename='icon/tenant/dashboard.png') }}" alt="logo">
                    <a href="{{ url_for('tenant_dashboard') }}">Dashboard</a>
                </div>

                <div class="linkholder">
                    <img src="{{ url_for('static', filename='icon/tenant/billing.png') }}" alt="logo">
                    <a href="{{ url_for('tenant_bills') }}">My Bills</a>
                </div>

                <div class="linkholder active">
                    <img src="{{ url_for('static', filename='icon/tenant/payment.png') }}" alt="logo">
                    <a href="{{ url_for('tenant_payment') }}">Payment History</a>
                </div>

                <div class="linkholder">
                    <img src="{{ url_for('static', filename='icon/tenant/contract.png') }}" alt="logo">
                    <a href="{{ url_for('tenant_contract') }}">Contract</a>
                </div>

                <div class="linkholder">
                    <img src="{{ url_for('static', filename='icon/tenant/support.png') }}" alt="logo">
                    <a href="{{ url_for('tenant_support') }}">Support/Contact Owner</a>
                </div>
            </div>


            <button id="logout">Log out</button>


        </div>
        <div class="header">
            <h3>PAYMENT</h3>
            <div class="notifprofile">
                <button class="notif-btn">
                    <img src="{{ url_for('static', filename='icon/tenant/notif.png') }}" alt="Notif">
                </button>
                <img src="" alt="profile">
            </div>



        </div>

        <div class="main">
            <div class="mainintro">
                <h3>Here are your bills and invoices</h3>
            </div>
            <div class="statusholder">
                <input type="text" placeholder="Search">
                <button>All</button>
                <button>Unpaid</button>
                <button>Paid</button>
                <button>Pending</button>
            </div>

            <div class="cardinfo">
                <div class="info-row">
                    <h4>Bills</h4>
                    <button>BTN</button>
                </div>

                <div class="info-row">
                    <h1>RENT</h1>
                    <h1>PAID</h1>
                </div>

                <div class="info-row">
                    <h4>Payment Date</h4>
                    <h4>Amount</h4>
                </div>

                <div class="info-row">
                    <h1>01-01-0001</h1>
                    <h1>$5,000</h1>
                </div>
            </div>





        </div>


    </div>



    </div>

</body>

</html>