<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tenant/Support.css') }}">
</head>

<body>
    <div class="container">
        {% include 'tenant/tenant_sidebar.html' %}
        <div class="header">
            <h3>SUPPORT</h3>
            <div class="notifprofile">
                <button class="notif-btn">
                    <img src="{{ url_for('static', filename='icon/tenant/notif.png') }}" alt="Notif">
                </button>
                <img src="" alt="profile">
            </div>
        </div>

        <div class="main">
            <div class="concernsearch">
                <input type="text" placeholder="Search">
                <button class="new-concern">+ New Concern</button>
            </div>

          
            <div class="concern-card">
                <div class="left">
                    <h3>Maintenance</h3>
                    <p>Water leakage in the unit</p>
                </div>
                <div class="right">
                    <p><strong>Concern ID:</strong> C-2025-001</p>
                    <p><strong>Date:</strong> 01-01-0001</p>
                    <p class="status pending">Pending</p>
                </div>
            </div>


        </div>



    </div>

</body>

</html>